* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Jost', sans-serif;
}

body {
  margin: 0;
}

header {
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: .5em;
}

ul {
  margin-left: 0;
}

li {
  list-style-type: none;
}

h1, h2 {
  font-size: 2rem;
  color: #000000;
  margin: 1rem;
}

p {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.5rem;
}

input {
  font: inherit;
  width: 100%;
  border: none;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.26);
  outline: none;
}

input:focus {
  outline: none;
  background-color: #fff;
}

button {
  font: inherit;
  cursor: pointer;
  border: none;
  color: #000;
  background-color: #fff;
  padding: 0.05rem 1rem;
  /* margin: .05em; */
}

button:hover,
button:active {
  transform: scale(1.1);
  z-index: 1;
}

button:disabled {
  opacity: 0.3;
  transform: none;
  cursor: auto;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

/* Firefox */
input[type=number] {
-moz-appearance: textfield;
}

table {
  height: 100%;
  width: 100%;
  margin-right: 0px;
  overflow: auto;
}

thead {
  text-align: center;
}

tr {
  text-align: center;
}

.panel {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.infoPanel {
  display: flex;
}

.mgmtPanel {
  display: flex;
  margin-right: 10px;
  max-width: 20vw;
  min-width: 260px;
  flex-direction: column;
  flex-wrap: nowrap;
}

.presPanel {
  display: flex;
  margin-left: 10px;
  max-width: 80vw;
  flex-direction: column;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  left: 25%;
  top: 10%;
  width: 50%;
  min-height: 40%;
  max-height: 80%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(255, 255, 255);
}

.modalFrame {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* .formBody {

} */

.formFooterButtonContainer {
  display: flex;
  margin-right: .5em;
  margin-bottom: .5em;
  align-items: right;
  justify-content: right;
}

.formFooter {
  margin-bottom: .5em;
  padding-bottom: .5em;
}

.formInputs {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  /* min-height: 300px; */
}

.formInputItem {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.cell {
  margin: .5em;
  padding: .5em;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.headerButtonContainer {
  display: flex;
  justify-content: space-around;
  align-items: top;
}

.headerButton {
  cursor: pointer;
  border: none;
  font-weight: bold;
  color: #000;
  background-color: #fff;
  margin: .05em 1em;
  /* padding: 0.05rem 1rem; */
  /* margin: .05em; */
  box-shadow: none;
}

.headerTitle {
  text-align: left;
  font-size: 1.5em;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.bold {
  font-weight: bold;
}

.cardHeader {
  display: flex;
  flex-direction: row;
  background-color: #fff;
}

.cardFooter {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.cardHeaderButtonContainer {
  max-width: 20%;
  display: flex;
  justify-content: right;
  align-items: top;
}

.cardHeaderTitle {
  width: 80%;
  text-align: left;
  font-size: 1.5em;
}

.cardBody {
  margin: .5em;
  color: #000;
}

.cardFooterButtonContainer {
  display: flex;
  margin-right: .5em;
  margin-bottom: .5em;
  align-items: right;
  justify-content: right;
}

.cardHolder {
  display: flex;
  flex-direction: column;
}

.card {
  flex: 1;
  margin: 0.5em;
  height: 100px;
  min-width: 100px;
  justify-content: left;
  text-align: left;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.25s ease;
  animation: populate 0.5s ease-out normal backwards;
  /* font-size: 1.5em; */
}

.card:hover {
  /* transform: scale(1.05);
  z-index: 1; */
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);
}

.panel {
  margin: 0em 1em;
}

.exitButton {
  border: none;
  box-shadow: none;
}

.exitButton:hover,
.exitButton:active {
  background-color: #C70039;
  color: #fff;
  border-color: #C70039;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.26);
}

.justifyLeft {
  justify-content: left;
}

.justifyRight {
  justify-content: right;
}

.textLeft {
  text-align: left;
}

.textRight {
  text-align: right;
}

.wide {
  min-width: 80%;
}

.verticalScroll {
  max-height: 50%;
  position: relative;
  overflow-y: scroll;
}