* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Jost', sans-serif;
}

body {
  margin: 0;
}

header {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  margin: 3rem;
  border-radius: 10px;
  padding: 1rem;
  background-color: #1b995e;
  color: white;
  text-align: center;
}

ul {
  margin-left: 0;
}

li {
  list-style-type: none;
}

#debtonate {
  /* margin: 3rem; */
  text-align: center;
}

#debtonate h1, h2 {
  font-size: 2rem;
  /* border-bottom: 4px solid #ccc; */
  /* color: #1b995e; */
  color: #000000;
  margin: 1rem;
}

#debtonate p {
  font-size: 1.5rem;
  font-weight: bold;
  /* background-color: #8ddba4; */
  padding: 0.5rem;
  color: #1f1f1f;
  /* border-radius: 25px; */
}

#debtonate input {
  font: inherit;
  width: 100%;
  background-color: #f4f4f4;
  border: 1px solid #fff;
  outline: none;
}

#debtonate input:focus {
  outline: none;
  /* border-color: #fff; */
  background-color: #fff;
}

button {
  font: inherit;
  cursor: pointer;
  border: 1px solid #4287f5;
  border-radius: 10px;
  background-color: #4287f5;
  color: white;
  padding: 0.05rem 1rem;
  /* margin: .05em; */
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.26);
}

button:hover,
button:active {
  background-color: #4287f5;
  border-color: #4287f5;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.26);
  transform: scale(1.1);
  z-index: 1;
}

button:disabled {
  opacity: 0.3;
  transform: none;
  cursor: auto;
  border: 1px solid #4287f5;
  background-color: #4287f5;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.26);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

/* Firefox */
input[type=number] {
-moz-appearance: textfield;
}

table {
  height: 100%;
  width: 100%;
  margin-right: 0px;
}

thead, tr {
  text-align: center;
}

.panel {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.mgmtPanel {
  display: flex;
  margin-right: 10px;
  max-width: 20vw;
  min-width: 260px;
  flex-direction: column;
  flex-wrap: nowrap;
}

.presPanel {
  display: flex;
  margin-left: 10px;
  max-width: 80vw;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: fixed;
  z-index: 1;
  left: 25%;
  top: 10%;
  width: 50%;
  /* margin: 1em; */
  /* min-height: 60%; */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(255, 255, 255);
}

.formFrame {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.formHeader {
  margin-top: .5em;
  padding-top: .5em;
}

.formHeaderTitle {
  width: 80%;
  text-align: left;
  font-size: 1.5em;
}

.formHeaderButtonContainer {
  width: 20%;
  display: flex;
  margin-right: 1em;
  justify-content: right;
  align-items: center;
}

.formFooterButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-left: 1em;
  margin-right: 1em;
}

.formFooter {
  margin-bottom: .5em;
  padding-bottom: .5em;
}

.formBody {
  font-size: 1em;
  display: flex;
  min-height: 70%;
}

.formInputs {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  /* min-height: 300px; */
}

.formInputItem {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.cell {
  margin: .5em;
  padding: .5em;
}

.header {
  margin-bottom: .5em;
  padding-bottom: .5em;
}

.footer {
  margin-top: .5em;
  padding-top: .5em;
}

.bold {
  font-weight: bold;
}

.cardHeader {
  display: flex;
  flex-direction: row;
}

.cardFooter {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.cardHeaderButtonContainer {
  width: 20%;
  display: flex;
  justify-content: right;
  align-items: center;
}

.cardHeaderTitle {
  width: 80%;
  text-align: left;
  font-size: 1.5em;
}

.cardBody {
  width: 100%;
}

.cardFooterButtonContainer {
  display: flex;
  margin-right: .5em;
  align-items: right;
  justify-content: right;
}

.cardHolder {
  display: flex;
  flex-direction: column;
}

.card {
  flex: 1;
  margin: 0.5em;
  padding: 0.5em;
  height: 100px;
  min-width: 100px;
  justify-content: left;
  text-align: left;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.25s ease;
  animation: populate 0.5s ease-out normal backwards;
  /* font-size: 1.5em; */
}

.card:hover {
  /* transform: scale(1.05);
  z-index: 1; */
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);
}

.exitButton {
  background-color: #fff;
  color: #000;
  border: none;
  box-shadow: none;
  /* padding: 0.05rem 1rem;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.26); */

  /* background-color: #fff;
  color: #000; */
}

.exitButton:hover,
.exitButton:active {
  background-color: #f00000;
  color: #fff;
  border-color: #f00000;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.26);
}

.justifyLeft {
  justify-content: left;
}

.justifyRight {
  justify-content: right;
}

.textLeft {
  text-align: left;
}

.textRight {
  text-align: right;
}

.wide {
  min-width: 80%;
}