* {
  box-sizing: border-box;
}

html {
  font-family: 'Jost', sans-serif;
}

body {
  margin: 0;
}

header {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  margin: 3rem;
  border-radius: 10px;
  padding: 1rem;
  background-color: #1b995e;
  color: white;
  text-align: center;
}

li {
  list-style-type: none;
}

#debtonate {
  margin: 3rem;
  text-align: center;
}

#debtonate h1, h2 {
  font-size: 2rem;
  border-bottom: 4px solid #ccc;
  /* color: #1b995e; */
  color: #000000;
  margin: 1rem;
}

#debtonate p {
  font-size: 1.25rem;
  font-weight: bold;
  /* background-color: #8ddba4; */
  padding: 0.5rem;
  color: #1f1f1f;
  /* border-radius: 25px; */
}

#debtonate input {
  font: inherit;
  border: 1px solid #ccc;
}

#debtonate input:focus {
  outline: none;
  border-color: #4287f5;
  background-color: #d7fdeb;
}

#debtonate button {
  font: inherit;
  cursor: pointer;
  border: 1px solid #4287f5;
  /* border: 1px solid #ff0077; */
  background-color: #4287f5;
  /* background-color: #ff0077; */
  color: white;
  padding: 0.05rem 1rem;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.26);
}

#debtonate button:hover,
#debtonate button:active {
  background-color: #4287f5;
  border-color: #4287f5;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.26);
}

#debtonate button:disabled {
  opacity: 0.3;
  cursor: auto;
  border: 1px solid #4287f5;
  background-color: #4287f5;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.26);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

/* Firefox */
input[type=number] {
-moz-appearance: textfield;
}

.panel {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.mgmtPanel {
  display: flex;
  max-width: 20%;
  flex-direction: column;
  flex-wrap: nowrap;
}

.presPanel {
  display: flex;
  max-width: 80%;
  flex-direction: column;
}

.form {
  display: block;
  position: fixed;
  z-index: 1;
  left: 25%;
  top: 10%;
  width: 50%; /* Full width */
  height: 60%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(255, 255, 255);
}

.formFrame {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* TODO: augment */

/* .cardHolder {
  display: flex;
  flex-flow: row wrap;
}

.card {
  flex: 1;
  margin: 0.5em;
  height: 100px;
  min-width: 100px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.25s ease;
  animation: populate 0.5s ease-out normal backwards;
}
.card:hover {
  transform: scale(1.05);
  z-index: 1;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);
} */
